//Fonte Confortaa (font-family: 'Comfortaa', cursive;)
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

//Fonte Montserrat (font-family: 'Montserrat', sans-serif;)
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');