//VARIÁVEIS
    //Cores
    $cinza: #626366;
    $amarelo: #E9C638;

    //Tamanhos de tela
    $XSmax: 575px;
    $SMmin: 576px;
    $SMmax: 767px;
    $MDmin: 768px;
    $MDmax: 991px;
    $LGmin: 992px;
    $LGmax: 1200px;
    $XLmin: 1201px;

//MIXINS
    //Mobile
    @mixin size($minHeight: false, $maxHeight: false) {
        @if $minHeight == false and $maxHeight == false {
            @content;
        } @else {
            @if $maxHeight == false {
                @media only screen and (min-width : $minHeight) {
                    @content;
                }
            } @else {
                @if $minHeight == false {
                    @media only screen and (max-width : $maxHeight) {
                        @content;
                    }
                } @else {
                    @media only screen and (min-width : $minHeight) and (max-width : $maxHeight) {
                        @content;
                    }
                }
            }
        }
    }

    //Transition
    @mixin transition($time) {
        -webkit-transition: $time;
        -moz-transition: $time;
        -ms-transition: $time;
        -o-transition: $time;
        transition: $time;
    }

    //Degradê
    @mixin gradient($cor1, $cor2, $cor3: false, $dir: 180deg) {
        background: $cor1;
        @if $cor3 == false {
            background: -moz-linear-gradient($dir, $cor1 0%, $cor2 100%);
            background: -webkit-linear-gradient($dir, $cor1 0%, $cor2 100%);
            background: linear-gradient($dir, $cor1 0%, $cor2 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$cor1",endColorstr="$cor2",GradientType=1);
        } @else {
            background: -moz-linear-gradient($dir, $cor1 0%, $cor2 50%, $cor3 100%);
            background: -webkit-linear-gradient($dir, $cor1 0%, $cor2 50%, $cor3 100%);
            background: linear-gradient($dir, $cor1 0%, $cor2 50%, $cor3 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$cor1",endColorstr="$cor3",GradientType=1);
        }
    }

    //Degradê
    @mixin translate($X: 0px, $Y: 0px) {
        -webkit-transform: translate($X, $Y);
        -moz-transform: translate($X, $Y);
        -ms-transform: translate($X, $Y);
        -o-transform: translate($X, $Y);
        transform: translate($X, $Y);
    }