//Tags
a,
a:hover,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: inherit;
    outline: none;
}
input,
button,
select {
    outline: none;
    &:hover,
    &:focus {
        outline: none;
    }
}
img {
    max-width: 100%;
    height: auto;
    outline: none !important;
    user-select: none !important;
    &:focus {
        outline: none !important;
        user-select: none !important;
    }
}
.desktop,
.Desktop {
    @include size(false, $MDmax) {
        display: none !important;
    }
}

.mobile,
.Mobile {
    @include size($LGmin) {
        display: none !important;
    }
}
.row.full {
    min-height: 100vh;
    padding: 50px 0px;
}

#page {
    overflow-x: hidden;
    background-image: url(assets/img/parallax.png);
    background-repeat: no-repeat;
    background-size: 350px auto;
    background-attachment: fixed;
    @include size(false, $MDmax) {
        background-image: url(assets/img/parallaxOP.png);
        background-size: 220px auto;
    }
}

.tituloLG {
    font-size: 10vw;
    font-weight: 700;
    margin-bottom: 50px;
    line-height: 80%;
    text-transform: lowercase;
    text-align: center;
    white-space: nowrap;
    @include size(3000px, false) {
        font-size: 180px;
    }
    @include size(false, 600px) {
        font-size: 60px !important;
        line-height: 1em !important;
        margin-bottom: 10px;
    }
    &.dir {
        margin-left: 10vw;
    }
    &.esq {
        margin-right: 10vw;
    }
}

.imageLG {
    background-size: cover;
    background-position: center;
    background-color: #FFF;
    position: relative;
    width: 140%;
    border: 70px solid #E9C638;
    border-radius: 1000px;
    margin: auto 0 auto auto;
    right: 50px;
    left: calc(-40% - 30px);
    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.anima {
    opacity: 0;
    span {
        display: inline;
    }
    &.fadein {
        opacity: 1;
    }
}

.whatstrigger {
    cursor: pointer;
}

.formulario {
    &.alt {
        form {
            textarea,
            select,
            input[type=text],
            input[type=email] {
                background-color: #FFF;
                &:focus {
                    background-color: #F8E17C;
                }
            }
            input[type=submit] {
                background-color: #FFF;
                &:hover {
                    background-color: $amarelo;
                }
            }
        }

    }
    .mauticform-errormsg {
        display: block;
        text-align: center;
        margin-bottom: 15px;
        margin-top: -5px;
        font-weight: 700;
        font-size: 10px;
    }
    form {
        position: relative;
        z-index: 999;
        margin-top: -5px;
        input[type=radio],
        input[type=checkbox] {
            appearance: none;
            width: 14px;
            height: 14px;
            border-radius: 50px;
            vertical-align: 1px;
            margin-right: 1px;
            display: inline-block;
            background-color: #FFF;
            position: relative;
            &:before {
                content: '';
                opacity: 0;
                display: block;
                background-color: $amarelo;
                position: absolute;
                width: 60%;
                height: 60%;
                border-radius: 50px;
                top: 20%;
                left: 20%;
                @include transition(0.4s);
            }
            &:checked {
                &:before {
                    opacity: 1;
                }
            }
        }
        label {
            color: $cinza;
            font-size: 14px;
        }
        input[type=text],
        input[type=email] {
            appearance: none;
            border: none;
            background-color: #F8E17C;
            padding: 3px 15px;
            border-radius: 30px;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            @include transition(0.4s);
            &::placeholder {
                text-transform: lowercase;
                color: $cinza;
            }
            &:focus {
                background-color: $amarelo;
            }
        }
        select {
            appearance: none;
            border: none;
            background-color: #F8E17C;
            color: $cinza;
            padding: 3px 15px;
            border-radius: 30px;
            display: block;
            width: 100%;
            margin-bottom: 10px;
            @include transition(0.4s);
            &:focus {
                background-color: $amarelo;
            }
        }
        textarea {
            appearance: none;
            border: none;
            background-color: #F8E17C;
            padding: 15px;
            border-radius: 30px;
            display: block;
            width: 100%;
            height: 200px;
            outline: none;
            resize: none;
            margin-bottom: 10px;
            @include transition(0.4s);
            &::placeholder {
                text-transform: lowercase;
                color: $cinza;
            }
            &:focus {
                background-color: $amarelo;
            }
        }
        input[type=submit] {
            display: block;
            background-image: url(assets/img/setaSubmit.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 17px auto;
            background-color: $amarelo;
            border: none;
            border-radius: 100px;
            width: 50px;
            height: 50px;
            float: right;
            @include transition(0.4s);
            &:hover {
                background-color: #FFF;
            }
        }
    }
}

.paginacao {
  text-align: center;
  margin-top: 50px;
    * {
        user-select: none;
    }
  .page-numbers {
        font-size: 18px;
        padding-top: 6px;
        background-color: $amarelo;
        color: $cinza;
        border: none;
        width: 35px;
        height: 35px;
        border-radius: 50px;
        display: inline-block;
        -webkit-transition: 0.4s;
        transition: 0.4s;
       &.current {
            opacity: 0.4;
           &:hover {
                background-color: $amarelo;
           }

       }
       &:hover {
            background-color: #FFF;
       }
       &.dots {
            background-color: rgba(0,0,0,0) !important;
            color: $amarelo;
       }
       &.next,
       &.prev {
            background-image: url(assets/img/setaSubmit.png);
            background-size: 10px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $amarelo;
            color: #FFF;
            margin-bottom: -10px;
            &:hover {
                opacity: 1;
                background-color: #FFF;
            }
       }
       &.prev {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);
       }
  }
}

.img-detacada {
    margin: 50px 0px;
    @include size(false, $MDmax) {
        margin: 20px 0px;
    }
    &.alt {
        img {
            margin: auto auto auto 0;
            -webkit-mask-image: url(assets/img/gota-post-alt.png);
            mask-image: url(assets/img/gota-post-alt.png);
            shape-outside: url(assets/img/gota-post-alt.png);

            @include size(false, $MDmax) {
                left: -25%;
                right: inherit;
            }
        }
    }
    img {
        display: block;
        margin: auto 0 auto auto;
        width: 75%;
        -webkit-mask-image: url(assets/img/gota-post.png);
        mask-image: url(assets/img/gota-post.png);
        -webkit-mask-size: 100% 100%;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        shape-outside: url(assets/img/gota-post.png);

        @include size(false, $MDmax) {
            max-width: inherit;
            width: 120%;
            right: -5%;
            position: relative;
        }

    }
}