//Tags
body {
	@include gradient(#ffffff, $amarelo);
	font-family: "Comfortaa", cursive;
	color: $cinza;
	&.home {
		@include gradient(#ffffff, #e9b138, #ffffff);
		header {
			min-height: 115vh;
			@include size(false, $MDmax) {
				min-height: 400px;
			}
			&#masthead {
				position: relative;
				margin-bottom: 100px;
				@include size(false, $MDmax) {
					margin-bottom: 30px;
				}
				.topo-img {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0px;
					object-fit: cover;
					object-position: bottom center;
				}
				.row.full {
					@include size(false, $MDmax) {
						min-height: 400px;
					}
				}
			}
		}
		footer#colophon {
			background-color: #fff;
		}
	}
	header {
		padding: 20px 0px;
		overflow: visible;
		&#masthead {
			&.home-header {
				.menuFixo {
					z-index: 100;
					position: absolute;
					width: 100%;
				}
			}
			.menuFixo {
				#site-navigation {
					#menu-icone {
						width: 27px;
						height: 27px;
						z-index: 10;
						left: 0px;
						position: relative;
						-webkit-transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						transform: rotate(0deg);
						-webkit-transition: 0.5s ease-in-out;
						-moz-transition: 0.5s ease-in-out;
						-o-transition: 0.5s ease-in-out;
						transition: 0.5s ease-in-out;
						cursor: pointer;
						display: block;
						@include size(false, $MDmax) {
							width: 25px;
							height: 17px;
							z-index: 1000000000000;
						}
						span {
							display: block;
							position: absolute;
							height: 5px;
							width: 100%;
							background: $amarelo;
							border-radius: 20px;
							opacity: 1;
							left: 0;
							-webkit-transform: rotate(0deg);
							-moz-transform: rotate(0deg);
							-o-transform: rotate(0deg);
							transform: rotate(0deg);
							-webkit-transition: 0.25s ease-in-out;
							-moz-transition: 0.25s ease-in-out;
							-o-transition: 0.25s ease-in-out;
							transition: 0.25s ease-in-out;
							@include size(false, $MDmax) {
								height: 4px;
							}
							&:nth-child(1) {
								top: 0px;
							}
							&:nth-child(2),
							&:nth-child(3) {
								top: 10px;
								@include size(false, $MDmax) {
									top: 6px;
								}
							}
							&:nth-child(4) {
								top: 20px;
								@include size(false, $MDmax) {
									top: 12px;
								}
							}
						}
						&.open {
							span {
								&:nth-child(1) {
									top: 12px;
									width: 0%;
									left: 50%;
								}
								&:nth-child(2) {
									-webkit-transform: rotate(45deg);
									-moz-transform: rotate(45deg);
									-o-transform: rotate(45deg);
									transform: rotate(45deg);
								}
								&:nth-child(3) {
									-webkit-transform: rotate(-45deg);
									-moz-transform: rotate(-45deg);
									-o-transform: rotate(-45deg);
									transform: rotate(-45deg);
								}
								&:nth-child(4) {
									top: 12px;
									width: 0%;
									left: 50%;
								}
							}
						}
					}
					.menu-container {
						position: absolute;
						-webkit-transition: 0.4s;
						-moz-transition: 0.4s;
						-ms-transition: 0.4s;
						-o-transition: 0.4s;
						transition: 0.4s;
						opacity: 0;
						left: 50%;
						text-align: center;
						@include translate(-50%, 0px);
						display: none;
						min-width: 320px;
						width: 100%;
						z-index: 100;
						margin-top: 5px;
						@include size(false, $MDmax) {
							z-index: 10;
							margin: 10px 5% 0px 5%;
							width: 90%;
							@include translate(0px, 0px);
							left: 10%;
						}
						&.show {
							opacity: 1;
						}
						&.open {
							display: block;
						}
						ul {
							&.hidden {
								& > li {
									display: none;
								}
								.show {
									display: list-item;
									& > a {
										display: none;
									}
								}
							}
						}
						ul {
							list-style-type: none;
							padding: 0px;
							overflow: hidden;
							border-radius: 10px;
							background-color: #fff;
							font-size: 13px;
							-webkit-filter: drop-shadow(
								0px 30px 20px rgba(45, 43, 108, 0.32)
							);
							filter: drop-shadow(0px 30px 20px rgba(45, 43, 108, 0.32));
							@include size(false, $MDmax) {
								font-size: 14px;
							}
							li {
								color: $amarelo;
								position: relative;
								-webkit-transition: 0.2s;
								-moz-transition: 0.2s;
								-ms-transition: 0.2s;
								-o-transition: 0.2s;
								transition: 0.2s;
								list-style-type: none;
								&:hover {
									background-color: $amarelo;
									color: #fff;
								}
								a {
									display: block;
									position: relative;
									letter-spacing: 0.2px;
									padding: 7px 30px 7px 15px;
									text-align: left;
								}
								&.menu-item-has-children {
									& > a:after {
										position: absolute;
										right: 10px;
										content: "\25BA";
										font-size: 10px;
										top: 50%;
										-webkit-transform: translateY(-50%);
										-moz-transform: translateY(-50%);
										-ms-transform: translateY(-50%);
										-o-transform: translateY(-50%);
										transform: translateY(-50%);
									}
									&.show {
										display: block;
										ul {
											&:hover {
												background-color: #fff;
											}
										}
										& > a {
											display: none;
											&.lastMenu {
												display: block;
												background-color: $amarelo;
												color: #fff !important;
												font-size: 0px;
												cursor: pointer;
												&:hover {
													-webkit-transition: 0.4s;
													-moz-transition: 0.4s;
													-ms-transition: 0.4s;
													-o-transition: 0.4s;
													transition: 0.4s;
													background-color: $amarelo;
												}
												&:after {
													content: "\25C0";
													font-size: 10px;
													top: 50%;
													-webkit-transform: translateY(-50%);
													-moz-transform: translateY(-50%);
													-ms-transform: translateY(-50%);
													-o-transform: translateY(-50%);
													transform: translateY(-50%);
												}
												&:before {
													display: inline;
													content: "voltar";
													position: static;
													font-size: 13px;
												}
											}
										}
									}
									.sub-menu {
										display: none;
										padding-left: 0px;
										&.show {
											display: list-item;
										}
										li {
											list-style-type: none;
											background-color: #fff;
											&:hover {
												background-color: $amarelo;
												color: #fff;
											}
										}
									}
								}
							}
						}
					}
				}
				.site-branding {
					.logo {
						display: block;
						margin: 0 auto;
					}
				}
				.site-search {
					.search {
						max-height: 27px;
						display: block;
						margin: auto 0 auto auto;
					}
				}
			}
			#searchform {
				position: fixed;
				width: 100%;
				left: 0px;
				top: 0px;
				background-color: rgba(233, 198, 56, 0.75);
				z-index: 10000000000;
				display: none;
				opacity: 0;
				-webkit-transition: 1s;
				-moz-transition: 1s;
				-ms-transition: 1s;
				-o-transition: 1s;
				transition: 1s;
				&.open {
					display: block;
				}
				&.show {
					opacity: 1;
				}
				.backclose {
					position: absolute;
					width: 100%;
					height: 100%;
				}
				.row {
					height: 100vh !important;
				}
				form {
					overflow: hidden;
					width: 100%;
					height: 50px;
					border-radius: 50px;
					background: rgba(255, 255, 255, 0.9);
					background: linear-gradient(
						135deg,
						rgba(255, 255, 255, 0.9) 0%,
						rgba(244, 245, 245, 0.9) 100%
					);
					-webkit-box-shadow: 2px 2px 3px -1px rgba(11, 111, 152, 0.2),
						-3px -3px 4px -1px #fff, 3px 3px 12px 0px rgba(11, 111, 152, 0.1);
					-webkit-box-shadow: 2px 2px 3px -1px rgba(11, 111, 152, 0.2),
						-3px -3px 4px -1px #fff, 3px 3px 12px 0px rgba(11, 111, 152, 0.1);
					box-shadow: -3px -3px 4px -1px #fff,
						2px 2px 3px -1px rgba(11, 111, 152, 0.2),
						3px 3px 12px 0px rgba(11, 111, 152, 0.1);
					position: relative;
					z-index: 10000000000000;
					input {
						position: absolute;
						border: none;
						&[type="text"] {
							width: 100%;
							height: 100%;
							padding: 10px 9% 10px 3%;
							font-size: 18px;
							font-weight: 300;
							color: $amarelo;
						}
						&[type="image"] {
							max-height: 50%;
							right: 3%;
							top: 50%;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
						}
					}
				}
			}
			.txt-topo {
				position: relative;
				.item {
					.content {
						h2 {
							font-size: 30px;
							line-height: 1.2em;
							margin-bottom: 0px;
							font-weight: 400;
							strong {
								font-weight: 700;
							}
							@include size(false, $MDmax) {
								font-size: 22px;
								br {
									display: none;
								}
							}
							@include size(false, $SMmax) {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
	main#primary {
		&.site-main {
			section {
				&.obrigado {
					padding: 0px;
					background-size: cover;
					background-position: center;
					background-attachment: fixed;
					@include size(false, $MDmax) {
						background-image: url() !important;
						text-align: center;
					}
					&.ag {
						background-image: url(assets/img/obgag.jpg);
						@include size(false, $MDmax) {
							.conteudo {
								background-image: url(assets/img/obgag.jpg);
							}
						}
					}
					&.co {
						background-image: url(assets/img/obgco.jpg);
						@include size(false, $MDmax) {
							.conteudo {
								background-image: url(assets/img/obgco.jpg);
							}
						}
					}
					.row {
						height: 100vh;
						@include size(false, $MDmax) {
							height: auto;
						}
						.conteudo {
							margin: 100px 0px 50px;
							* {
								z-index: 10;
								position: relative;
							}
							@include size(false, $XSmax) {
								background-size: auto 150%;
							}
							@include size(false, $MDmax) {
								background-size: cover;
								background-position: center;
								position: relative;
								overflow: hidden;
								border-radius: 10px;
								background-color: #fff;
								padding: 50px 30px;
								&:before {
									content: "";
									top: 0px;
									left: 0px;
									z-index: 0;
									display: block;
									position: absolute;
									background-color: rgba(255, 255, 255, 0.9);
									width: 100%;
									height: 100%;
									z-index: 1;
								}
							}
							.load {
								max-width: 100px;
								margin-bottom: 20px;
							}
							h2 {
								font-size: 22px;
								margin-bottom: 20px;
								font-weight: 100;
							}
							h3 {
								font-size: 18px;
								font-weight: 100;
								margin-bottom: 20px;
								padding-left: 10px;
								border-left: 5px solid $amarelo;
								margin-left: -15px;
								@include size(false, $MDmax) {
									padding-left: 0px;
									border-left: none;
									margin-left: 0px;
								}
								strong {
									font-weight: 700;
									display: block;
									margin-bottom: 5px;
								}
								em {
									text-decoration: underline;
									font-weight: 700;
									font-style: normal;
								}
								a {
									text-decoration: underline;
								}
							}
							h4 {
								font-size: 16px;
								margin-bottom: 20px;
								font-weight: 100;
							}
							h5 {
								font-size: 13px;
								margin-bottom: 10px;
								font-weight: 100;
							}
							ul {
								font-size: 13px;
								margin-bottom: 0px;
								font-weight: 100;
								list-style-type: none;
								padding: 0px;
								margin: 0px;
								li {
									&:not(:last-child) {
										margin-bottom: 3px;
									}
									img {
										max-width: 14px;
										margin-right: 5px;
									}
									a {
										strong {
											font-weight: 700;
										}
										&:hover {
											text-decoration: underline dotted;
										}
									}
								}
							}
						}
					}
				}
				&.ebookHome {
					padding: 50px 0px;
					@include size(false, $SMmax) {
						padding: 20px 0px;
					}
					.sliderEbooks {
						position: relative;
						.seta {
							position: absolute;
							top: calc(50% - 30px);
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							background-image: url(assets/img/setaSubmit.png);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 17px auto;
							background-color: $amarelo;
							border: none;
							border-radius: 100px;
							width: 50px;
							height: 50px;
							float: right;
							@include transition(0.4s);
							&.dir {
								right: -50px;
							}
							&.esq {
								left: -50px;
								-webkit-transform: translateY(-50%) rotate(180deg);
								-moz-transform: translateY(-50%) rotate(180deg);
								-ms-transform: translateY(-50%) rotate(180deg);
								-o-transform: translateY(-50%) rotate(180deg);
								transform: translateY(-50%) rotate(180deg);
							}
							&:hover {
								background-color: #fff;
							}
						}
						.itens {
							.item {
								.conteudo {
									h4 {
										font-size: 38px;
										line-height: 1em;
										font-weight: 700;
										margin-bottom: 20px;
									}
									p {
										text-align: justify;
										font-size: 14px;
										font-weight: 700;
										margin-bottom: 50px;
									}
									button {
										border: none;
										background-color: $amarelo;
										border-radius: 50px;
										padding: 10px 20px;
										font-size: 18px;
										color: $cinza;
										display: block;
										font-weight: 700;
										@include transition(0.4s);
										&:hover {
											background-color: #fff;
										}
									}
									.attachment-post-thumbnail {
										margin-bottom: 50px;
									}
									span {
										display: block;
										font-size: 18px;
										line-height: 20px;
										font-weight: 700;
										@include size(false, $SMmax) {
											display: none;
										}
										strong {
											text-decoration: underline;
										}
									}
								}
							}
						}
					}
				}
				&.endereco {
					.tituloLG {
						font-size: 72px !important;
						@include size(false, $SMmax) {
							font-size: 38px !important;
						}
						img {
							max-width: 40px;
							@include size(false, $SMmax) {
								max-width: 30px;
							}
						}
					}
					h4 {
						font-size: 20px;
						line-height: 1.5em;
						font-weight: 500;
						margin-bottom: 50px;
						text-align: center;
						@include size(false, $SMmax) {
							font-size: 16px;
							br {
								display: none;
							}
						}
					}
					.mapa {
						position: relative;
						&:after {
							content: "";
							display: block;
							position: absolute;
							bottom: 0px;
							width: 100%;
							height: 40vh;
							@include gradient(rgba(0, 0, 0, 0), #fff);
						}
						iframe {
							width: calc(100% + 30px);
							height: 60vh;
							margin-left: -15px;
							margin-bottom: -10px;
						}
					}
				}
				&.blogHome {
					padding: 50px 0px;
					@include size(false, $SMmax) {
						padding: 20px 0px;
					}
					button {
						border: none;
						background-color: #fff;
						border-radius: 50px;
						padding: 10px 20px;
						font-size: 18px;
						color: $cinza;
						display: block;
						margin: 50px auto;
						font-weight: 700;
						@include transition(0.4s);
						&.over {
							margin-bottom: 100px;
						}
						&:hover {
							background-color: $amarelo;
						}
						img {
							max-width: 15px;
							margin-left: 5px;
						}
					}
					.itens {
						margin-top: -50px;
						.item {
							&.item {
								&1 {
									margin-top: 100px;
								}
								&2 {
									margin-top: 50px;
								}
								&3 {
								}
							}
							.img {
								background-color: $amarelo;
								height: 400px;
								margin-bottom: 20px;
								width: 100%;
								border-radius: 100px;
								position: relative;
								overflow: hidden;
								@include transition(0.4s);
								&:after {
									content: "Leia mais";
									background-color: rgba(0, 0, 0, 0.5);
									color: #fff;
									display: block;
									position: absolute;
									text-align: center;
									padding: 25px;
									width: 100%;
									bottom: 0px;
									@include transition(0.4s);
								}
								img {
									border-radius: 100px;
									object-fit: cover;
									object-position: center;
									position: absolute;
									width: 100%;
									height: 100%;
									top: 0px;
									left: 0px;
									mix-blend-mode: multiply;
									-webkit-filter: grayscale(1);
									filter: grayscale(1);
									opacity: 0.5;
									@include transition(0.4s);
								}
								&:hover {
									&:after {
										background-color: rgba(233, 198, 56, 0.9);
										color: $cinza;
									}
									img {
										mix-blend-mode: normal;
										-webkit-filter: grayscale(0);
										filter: grayscale(0);
										opacity: 1;
									}
								}
							}
							h2 {
								text-align: center;
								font-size: 18px;
							}
						}
					}
				}
				&.blog {
					padding: 100px 0px;
					@include size(false, $MDmax) {
						padding: 50px 0px;
					}
					.tituloLG {
						color: $amarelo;
						font-size: 7vw;
						line-height: 50%;
						@include size(3000px, false) {
							font-size: 120px;
						}
						@include size(false, $MDmax) {
							margin-bottom: 30px;
						}
					}
					button {
						border: none;
						background-color: #fff;
						border-radius: 50px;
						padding: 10px 20px;
						font-size: 18px;
						color: $cinza;
						display: block;
						margin: 50px auto;
						font-weight: 700;
						@include transition(0.4s);
						&:hover {
							background-color: $amarelo;
						}
						img {
							max-width: 15px;
							margin-left: 5px;
						}
					}
					.itens {
						margin-top: 0px;
						.item {
							&.item {
								@include size(false, $MDmax) {
									margin-bottom: 20px;
								}
								&2,
								&5 {
									margin-top: 50px;
									@include size(false, $MDmax) {
										margin-top: 0px;
									}
								}
								&3,
								&6 {
									margin-top: 100px;
									@include size(false, $MDmax) {
										margin-top: 0px;
									}
								}
							}
							.img {
								background-color: $amarelo;
								height: 500px;
								margin-bottom: 20px;
								width: 100%;
								border-radius: 150px;
								position: relative;
								overflow: hidden;
								@include transition(0.4s);
								&:after {
									content: "Leia mais";
									background-color: rgba(0, 0, 0, 0.5);
									color: #fff;
									display: block;
									position: absolute;
									text-align: center;
									padding: 25px;
									width: 100%;
									bottom: 0px;
									@include transition(0.4s);
								}
								img {
									border-radius: 150px;
									object-fit: cover;
									object-position: center;
									position: absolute;
									width: 100%;
									height: 100%;
									top: 0px;
									left: 0px;
									mix-blend-mode: multiply;
									-webkit-filter: grayscale(1);
									filter: grayscale(1);
									opacity: 0.5;
									@include transition(0.4s);
								}
								&:hover {
									&:after {
										background-color: rgba(233, 198, 56, 0.9);
										color: $cinza;
									}
									img {
										mix-blend-mode: normal;
										-webkit-filter: grayscale(0);
										filter: grayscale(0);
										opacity: 1;
									}
								}
							}
							h2 {
								text-align: center;
								font-size: 18px;
							}
						}
					}
				}
				&.contato {
					padding: 100px 0px;
					@include size(false, $MDmax) {
						padding: 50px 0px;
					}
					.tituloLG {
						color: $amarelo;
						font-size: 7vw;
					}
					.formulario {
						margin-top: 50px;
						color: $cinza;
						h3 {
							background-color: #e9c638;
							font-size: 26px;
							padding: 5px 20px;
							display: inline-block;
							border-radius: 50px;
							margin-bottom: 20px;
							margin: auto auto 20px 0;
							text-align: center;
							@include size(false, $MDmax) {
								font-size: 16px;
							}
						}
						p {
							font-size: 24px;
							text-align: left;
							@include size(false, $MDmax) {
								font-size: 14px;
							}
						}
						ul {
							text-align: left;
							margin: 0px;
							padding: 0px;
							list-style-type: none;
							@include size(false, $MDmax) {
								font-size: 12px;
							}
							li {
								margin-bottom: 20px;
								img {
									display: inline-block;
									max-width: 20px;
									margin-right: 10px;
								}
								span {
									display: inline-block;
									vertical-align: middle;
									@include size(false, $MDmax) {
										br {
											display: none;
										}
									}
								}
							}
						}
						form {
							margin-top: 30px;
						}
					}
				}
				&.ebooks {
					padding: 100px 0px;
					@include size(false, $MDmax) {
						padding: 50px 0px;
					}
					.tituloLG {
						color: $amarelo;
						font-size: 7vw;
					}
					.itens {
						margin-top: 0px;
						.item {
							margin: 100px 0px;
							@include size(false, $MDmax) {
								margin: 30px 0px;
							}
							.img {
								img {
									width: 75%;
									margin: 0 auto;
									display: block;
								}
								&:hover {
									&:after {
										background-color: rgba(233, 198, 56, 0.9);
										color: $cinza;
									}
									img {
										mix-blend-mode: normal;
										-webkit-filter: grayscale(0);
										filter: grayscale(0);
										opacity: 1;
									}
								}
							}
							h2 {
								text-align: center;
								font-size: 32px;
								margin-bottom: 20px;
								@include size(false, $MDmax) {
									font-size: 28px;
								}
							}
							h3 {
								text-align: center;
								font-size: 20px;
								margin-bottom: 20px;
								@include size(false, $MDmax) {
									font-size: 16px;
									text-align: justify;
								}
							}
							button {
								border: none;
								background-color: #fff;
								border-radius: 50px;
								padding: 5px 50px;
								font-size: 18px;
								color: $cinza;
								display: block;
								margin: 20px auto;
								font-weight: 700;
								@include transition(0.4s);
								&.over {
									margin-bottom: 100px;
								}
								&:hover {
									background-color: $amarelo;
								}
								img {
									max-width: 15px;
									margin-left: 5px;
								}
							}
						}
					}
				}
				&.agendamento {
					padding: 100px 0px;
					@include size(false, $MDmax) {
						padding: 50px 0px;
					}
					.tituloLG {
						font-size: 7vw;
						@include size(false, $MDmax) {
							font-size: 32px !important;
							margin: 0px !important;
						}
					}
					.formulario {
						margin-top: 50px;
						color: $cinza;
						h3 {
							background-color: #e9c638;
							font-size: 26px;
							padding: 5px 20px;
							display: inline-block;
							border-radius: 50px;
							margin-bottom: 20px;
							margin: auto auto 20px 0;
							text-align: center;
							@include size(false, $MDmax) {
								font-size: 16px;
							}
						}
						p {
							font-size: 24px;
							text-align: left;
							@include size(false, $MDmax) {
								font-size: 14px;
							}
						}
						ul {
							text-align: left;
							margin: 0px;
							padding: 0px;
							list-style-type: none;
							li {
								margin-bottom: 20px;
								img {
									display: inline-block;
									max-width: 20px;
									margin-right: 10px;
								}
								span {
									display: inline-block;
									vertical-align: middle;
								}
							}
						}
						form {
							margin-top: 30px;
						}
					}
				}
				&.equipeHome {
					padding: 0px;
					.imageLG {
						background-image: url(assets/img/imgEquipe.png);
					}
					.tituloLG {
						text-align: left;
						@include size(false, $SMmax) {
							margin: 20px 0px;
							line-height: 1em !important;
						}
					}
					h4 {
						font-size: 52px;
						font-weight: 700;
						margin-bottom: 50px;
					}
					p {
						font-size: 18px;
						font-weight: 700;
						margin-bottom: 50px;
					}
					button {
						font-weight: 700;
						border: none;
						background-color: rgba(0, 0, 0, 0);
						color: #fff;
						font-size: 18px;
						line-height: 18px;
						text-align: left;
						@include transition(0.4s);
						&:after {
							content: "";
							display: block;
							background-image: url(assets/img/setaSubmit.png);
							background-repeat: no-repeat;
							background-position: center;
							background-size: 17px auto;
							background-color: $amarelo;
							border: none;
							border-radius: 100px;
							width: 50px;
							height: 50px;
							float: right;
							margin-top: -25px;
							margin-left: 15px;
							@include transition(0.4s);
						}
						&:hover {
							color: $cinza;
							&:after {
								background-color: #fff;
							}
						}
					}
				}
				&.newsletter {
					padding: 0px;
					.imageLG {
						background-image: url(assets/img/imgNews.png);
					}
					h3 {
						margin-bottom: 20px;
						@include size(false, $SMmax) {
							margin: 20px 0px;
						}
					}
				}
				&.especialidades {
					padding: 100px 0px;
					.destaques {
						margin-bottom: 20px;
						* {
							user-select: none;
						}
						.destaque {
							width: 50%;
							display: inline-block;
							z-index: 0;
							position: relative;
							overflow: visible;
							@include size(false, $MDmax) {
								display: block;
								width: 100%;
								z-index: 10;
								&.esq {
									left: 15px;
								}
								&.dir {
									left: -15px;
								}
							}
							&:hover {
								z-index: 10;
								.deston {
									opacity: 1;
								}
								span {
									opacity: 0;
								}
							}
							span {
								cursor: default;
								position: absolute;
								font-size: 32px;
								letter-spacing: 1px;
								display: block;
								font-weight: 300;
								line-height: 1em;
								text-align: center;
								color: #fff;
								z-index: 11;
								top: 50%;
								width: 100%;
								@include transition(0.5s);
								@include translate(0px, -50%);
								strong {
									display: block;
									font-weight: 700;
								}
							}
							.dest {
								display: block;
							}
							.deston {
								position: absolute;
								height: 100%;
								max-width: inherit;
								opacity: 0;
								@include transition(0.5s);
								@include size(false, $MDmax) {
									display: none;
								}
								z-index: 1;
								&.dir {
									right: 0px;
								}
								&.esq {
									left: 0px;
								}
							}
						}
					}
				}
				&.equipe {
					padding: 100px 0px;
					.tituloLG {
						color: $cinza;
						font-size: 7vw;
						line-height: 50%;
						@include size(3000px, false) {
							font-size: 120px;
						}
					}
					.container-destaques {
						margin-top: 50px;
						.destaques {
							margin-top: 40px;
							@include size(false, $MDmax) {
								margin-top: 0px;
							}
							* {
								user-select: none;
							}
							.destaque {
								width: 50%;
								display: block;
								z-index: 0;
								position: relative;
								overflow: visible;
								vertical-align: top;
								margin-bottom: 30px;
								@include size(false, $SMmax) {
									width: 100%;
								}
								&.dir {
									float: right;
									@include size(false, $SMmax) {
										right: 15px;
									}
									.img {
										.wrap {
											-webkit-mask-image: url(assets/img/dest2-cancernocolodoutero.png);
											mask-image: url(assets/img/dest2-cancernocolodoutero.png);
											shape-outside: url(assets/img/dest2-cancernocolodoutero.png);
											background-position: right -20px center;
										}
										&:before {
											left: inherit;
											right: -15px;
										}
									}
								}
								&.esq {
									float: left;
									@include size(false, $SMmax) {
										left: 15px;
									}
									.img {
										.wrap {
											-webkit-mask-image: url(assets/img/dest1-carcinomabasocelular.png);
											mask-image: url(assets/img/dest1-carcinomabasocelular.png);
											shape-outside: url(assets/img/dest1-carcinomabasocelular.png);
											background-position: left -20px center;
										}
									}
								}
								&:hover {
									z-index: 10;
									.img {
										&:before {
											opacity: 1;
										}
									}
									.img {
										.deston {
											opacity: 1;
										}
									}
									h2,
									h3,
									h4 {
										color: $cinza;
									}
								}

								// img {
								//     width: 80%;
								//     display: block;
								//     margin: 0 auto;
								//     @include size(false, $MDmax) {
								//         width: 100%;
								//     }
								// }
								.img {
									.wrap {
										background-color: #eff2fa;
										background-size: cover;
										background-repeat: no-repeat;
										position: relative;
										width: 100%;
										height: 390px;
										-webkit-mask-size: 100% 100%;
										mask-size: 100% 100%;
										-webkit-mask-repeat: no-repeat;
										mask-repeat: no-repeat;
										-webkit-mask-position: center;
										mask-position: center;
										@include size(false, $MDmax) {
											-webkit-mask-size: 100% auto;
											mask-size: 100% auto;
											height: 300px;
										}
									}
									@include size($LGmin, false) {
										&:before {
											content: "";
											display: block;
											position: absolute;
											background-color: rgba(0, 0, 0, 0);
											top: -15px;
											left: -20px;
											width: 420px;
											height: 420px;
											border-radius: 300px;
											border: 10px solid #fff;
											opacity: 0;
											@include transition(0.4s);
										}
									}
								}
								h2 {
									text-align: center;
									margin-top: 30px;
									font-size: 28px;
									font-weight: 700;
									color: #c2a83c;
									display: block;
									@include transition(0.5s);
								}
								h3 {
									font-size: 18px;
									display: block;
									font-weight: 300;
									text-align: center;
									color: #c2a83c;
									@include transition(0.5s);
									strong {
										display: block;
										font-weight: 700;
									}
								}
								h4 {
									font-size: 16px;
									display: block;
									font-weight: 300;
									text-align: center;
									color: #c2a83c;
									@include transition(0.5s);
									strong {
										display: block;
										font-weight: 700;
									}
								}
							}
						}
					}
				}
				&.agendamentoHome {
					h2 {
						font-size: 220px;
						line-height: 180px;
						font-weight: bold;
						text-transform: lowercase;
						display: inline-block;
						@include size(false, $LGmax) {
							font-size: 10vw;
							line-height: inherit;
							br {
								display: none;
							}
						}
					}
					p {
						font-size: 15px;
						margin-bottom: 0px;
						position: absolute;
						right: 0px;
						width: 45%;
						bottom: 35px;
						@include size(false, $SMmax) {
							margin-bottom: 20px;
						}
						@include size(false, $LGmax) {
							position: relative;
							bottom: inherit;
							width: auto;
						}
					}
					.formulario {
						img.agende {
							position: relative;
							z-index: 998;
							display: block;
							margin: 0 auto;
							max-width: 300px;
							@include size(false, $SMmax) {
								max-width: 200px;
							}
						}
					}
				}
				&.blogpost,
				&.pagepost {
					h2.titulo {
						font-size: 42px;
						font-weight: 700;
						margin-bottom: 10px;
					}
					h3.titulo {
						background-color: $amarelo;
						font-size: 14px;
						padding: 5px 20px 2px;
						display: inline-block;
						border-radius: 50px;
						margin-bottom: 50px;
					}
					.content {
						margin-bottom: 50px;
						h1,
						h2,
						h3,
						h4,
						h5,
						h6 {
							margin: 40px 0px 20px;
							font-weight: 900;
						}
						h1 {
							font-size: 42px;
						}
						h2 {
							font-size: 38px;
						}
						h3 {
							font-size: 32px;
						}
						h4 {
							font-size: 28px;
						}
						h5 {
							font-size: 22px;
						}
						h6 {
							font-size: 18px;
						}
						p {
							text-align: justify;
							font-size: 16px;
							font-weight: 500;
							line-height: 1.8em;
							margin-bottom: 30px;
						}
						a {
							font-weight: 700;
							color: $amarelo;
							&:hover {
								text-decoration: underline solid;
							}
						}
						strong,
						b {
							font-weight: bold;
						}
						em,
						i {
							font-style: italic;
						}
						ul,
						ol {
							list-style-position: inside;
							padding: 0px;
							font-weight: 500;
							margin-bottom: 30px;
							li {
								margin-bottom: 10px;
							}
						}
						img {
							margin-bottom: 20px;
							margin-top: 20px;
							max-width: 100%;

							-webkit-mask-image: url(assets/img/cirsculo.png);
							mask-image: url(assets/img/cirsculo.png);
							shape-outside: url(assets/img/cirsculo.png);
							background-size: cover;
							background-position: center;
							position: relative;
							width: 100%;
							-webkit-mask-size: contain;
							mask-size: contain;
							-webkit-mask-repeat: no-repeat;
							mask-repeat: no-repeat;
							-webkit-mask-position: center;
							mask-position: center;

							&.aligncenter {
								max-width: 100%;
								position: relative;
								overflow: hidden;
								display: block;
								margin: 0 auto;
								@include size(false, $MDmax) {
									max-width: 100%;
									left: inherit;
								}
							}
							&.alignright {
								shape-margin: 10px;
								max-width: 100%;
								margin-right: 20px;
								margin-left: 50%;
								float: right;
								@include size(false, $MDmax) {
									max-width: 100%;
									position: relative;
									overflow: hidden;
									display: block;
									margin: 0 auto;
									float: inherit;
								}
							}
							&.alignleft {
								shape-margin: 10px;
								max-width: 100%;
								margin-right: 20px;
								float: left;
								margin-left: -50%;
								@include size(false, $MDmax) {
									max-width: 100%;
									position: relative;
									overflow: hidden;
									display: block;
									margin: 0 auto;
									float: inherit;
								}
							}
						}
					}
					#comments {
						margin: 0px;
					}
				}
				&.equipost {
					@include size(false, $MDmax) {
						padding: 50px 0px;
					}
					h2.titulo {
						font-size: 42px;
						margin-bottom: 10px;
						font-weight: 700;
						text-align: center;
						@include size(false, $MDmax) {
							font-size: 28px;
						}
					}
					h3.titulo {
						background-color: $amarelo;
						font-size: 18px;
						padding: 5px 20px 2px;
						margin: 0 auto;
						display: block;
						border-radius: 50px;
						margin-bottom: 40px;
						text-align: center;
						@include size(false, $MDmax) {
							font-size: 16px;
						}
					}
					.tituloLG {
						text-transform: inherit;
						font-size: 4vw;
						@include size(false, $MDmax) {
							font-size: 38px !important;
						}
					}
					.attachment-post-thumbnail {
						margin: 0 auto;
						display: block;
						margin-bottom: 50px;
					}
					.content {
						margin-bottom: 50px;
						h1,
						h2,
						h3,
						h4,
						h5,
						h6 {
							margin: 40px 0px 20px;
							font-weight: 900;
						}
						h1 {
							font-size: 42px;
						}
						h2 {
							font-size: 38px;
						}
						h3 {
							font-size: 32px;
						}
						h4 {
							font-size: 28px;
						}
						h5 {
							font-size: 22px;
						}
						h6 {
							font-size: 18px;
						}
						p {
							text-align: justify;
							font-size: 16px;
							font-weight: 500;
							line-height: 1.8em;
							margin-bottom: 30px;
						}
						a {
							font-weight: 700;
							color: $amarelo;
							&:hover {
								text-decoration: underline solid;
							}
						}
						strong,
						b {
							font-weight: bold;
						}
						em,
						i {
							font-style: italic;
						}
						ul,
						ol {
							list-style-position: inside;
							padding: 0px;
							font-weight: 500;
							margin-bottom: 30px;
							li {
								margin-bottom: 10px;
							}
						}
						img {
							margin-bottom: 20px;
							margin-top: 20px;
							max-width: 100%;

							&.aligncenter {
								max-width: 100%;
								position: relative;
								overflow: hidden;
								display: block;
								margin: 0 auto;
								@include size(false, $MDmax) {
									max-width: 100%;
									left: inherit;
								}
							}
							&.alignright {
								shape-margin: 40px;
								max-width: 450px;
								float: right;
								margin-left: 20px;
								@include size(false, $MDmax) {
									float: inherit !important;
									margin-left: 0px !important;
									margin-right: 0px !important;
									max-width: 100%;
								}
							}
							&.alignleft {
								shape-margin: 40px;
								max-width: 450px;
								float: left;
								margin-right: 20px;

								@include size(false, $MDmax) {
									float: inherit !important;
									margin-left: 0px !important;
									margin-right: 0px !important;
									max-width: 100%;
								}
							}
						}
					}
					#comments {
						margin: 0px;
					}
				}
				&.bookpost {
					padding: 100px 0px;
					h2.titulo {
						font-size: 42px;
						margin-bottom: 10px;
						font-weight: 700;
						text-align: center;
					}
					h3.titulo {
						background-color: $amarelo;
						font-size: 18px;
						padding: 5px 20px 2px;
						margin: 0 auto;
						display: block;
						border-radius: 50px;
						margin-bottom: 40px;
						text-align: center;
					}
					.tituloLG {
						text-transform: inherit;
						font-size: 5vw;
					}
					.destacada {
						margin-bottom: 50px;
					}
					form {
						button {
							border: none;
							background-color: #fff;
							border-radius: 50px;
							padding: 5px 50px;
							font-size: 18px;
							color: $cinza;
							display: block;
							margin: 20px auto;
							font-weight: 700;
							@include transition(0.4s);
							&.over {
								margin-bottom: 100px;
							}
							&:hover {
								background-color: $amarelo;
							}
							img {
								max-width: 15px;
								margin-left: 5px;
							}
						}
					}
					.content {
						margin-bottom: 50px;
						h1,
						h2,
						h3,
						h4,
						h5,
						h6 {
							margin: 40px 0px 20px;
							font-weight: 900;
						}
						h1 {
							font-size: 42px;
						}
						h2 {
							font-size: 38px;
						}
						h3 {
							font-size: 32px;
						}
						h4 {
							font-size: 28px;
						}
						h5 {
							font-size: 22px;
						}
						h6 {
							font-size: 18px;
						}
						p {
							text-align: justify;
							font-size: 16px;
							font-weight: 500;
						}
						a {
							font-weight: 700;
							color: $amarelo;
							&:hover {
								text-decoration: underline solid;
							}
						}
						strong,
						b {
							font-weight: bold;
						}
						em,
						i {
							font-style: italic;
						}
						ul,
						ol {
							list-style-position: inside;
							padding: 0px;
							font-weight: 500;
						}
						img {
							margin-bottom: 20px;
							margin-top: 20px;
							max-width: 100%;
							&.aligncenter {
								max-width: 100%;
								position: relative;
								overflow: hidden;
								display: block;
								margin: 0 auto;
								@include size(false, $MDmax) {
									max-width: 100%;
									left: inherit;
								}
							}
							&.alignright {
								shape-margin: 40px;
								max-width: 450px;
								float: right;
								margin-left: 20px;
								@include size(false, $MDmax) {
									float: inherit !important;
									margin-left: 0px !important;
									margin-right: 0px !important;
									max-width: 100%;
								}
							}
							&.alignleft {
								shape-margin: 40px;
								max-width: 450px;
								float: left;
								margin-right: 20px;

								@include size(false, $MDmax) {
									float: inherit !important;
									margin-left: 0px !important;
									margin-right: 0px !important;
									max-width: 100%;
								}
							}
						}
					}
					#comments {
						margin: 0px;
					}
				}
			}
		}
	}
	footer#colophon {
		padding: 50px 0px;
		text-align: center;
		position: relative;
		overflow: hidden;
		.sidebar {
			background-color: $amarelo;
			position: fixed;
			width: 5px;
			height: 100vh;
			left: 25px;
			top: 0px;
			@include size(false, $SMmax) {
				display: none;
			}
			.redes {
				position: fixed;
				top: 50%;
				left: 12px;
				@include translate(0px, -50%);
				.rede {
					display: block;
					max-width: 30px;
					margin-bottom: 10px;
					@include transition(0.4s);
					&:hover {
						-webkit-transform: scale(1.1);
						-moz-transform: scale(1.1);
						-ms-transform: scale(1.1);
						-o-transform: scale(1.1);
						transform: scale(1.1);
					}
				}
			}
		}
		.bgCirculo {
			position: absolute;
			border-radius: 100vw;
			&:after {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
			&.grande {
				background-color: $amarelo;
				width: 110%;
				left: 50%;
				@include translate(-50%);
				top: 0px;
				@include size(false, $SMmax) {
					width: 200%;
				}
			}
			&.pequeno {
				background-color: #e9b138;
				width: 80%;
				left: 50%;
				@include translate(-50%);
				top: 52%;
				@include size(false, $SMmax) {
					width: 150%;
					top: 42%;
				}
			}
		}
		.site-info {
			.logo {
				display: block;
				margin: 0 auto;
				margin-bottom: 30px;
				max-width: 300px;
			}
			span {
				color: #fff;
				display: block;
				font-size: 12px;
				margin-bottom: 10px;
				img {
					vertical-align: middle;
					margin-right: 5px;
				}
				.icon-instagram,
				.icon-facebook {
					width: 25px;
					height: 25px;
					margin-right: 0px;
				}
			}
			h3 {
				font-size: 28px;
				margin-top: 100px;
				margin-bottom: 20px;
				a {
					text-decoration: underline;
				}
			}
			p {
				color: #fff;
				font-size: 10px;
				text-align: justify;
			}
		}
	}
}
